$primary-color: #3D3D3D;
$background: #6D6D6D;

body {
    color: $primary-color;
}

p {
    color: $primary-color;
}

body {
    background-color: $background;
}

h2 {
    background-color: $background;
}